
@{
    ViewBag.Title = "Wylogowano";
}

<div class="inf">
    <h4>Wylogowano poprawnie!</h4>
    <hr />
    <h5>
        Do widzenia!
    </h5>

</div>
<a asp-controller="home" asp-action="index" class="btn btn-outline-success" style="width:auto">
    Wróc do strony głównej!
</a>