@{ ViewData["Title"] = "O mnie"; }




<div class="center">
    <a href="https://github.com/chiqi97">
        <img class="center" src="~/images/git.png"
             style="width:450px;height:300px;"
             asp-append-version="true" />
    </a>
</div>

<div class="center">
    <a href="https://www.linkedin.com/in/cezary-zysk-9095a7209/">
        <img class="center" src="~/images/linkedin.png" style="width:450px;height:300px;"
             asp-append-version="true" />
    </a>
</div>

