@model IEnumerable<Movie>

@{ ViewData["Title"] = "eMovieStore"; }
@await Html.PartialAsync("Carousel")

<h1 class="display-4 pb-5" align="center">Wszystkie filmy</h1>

    <div class="row" >
        @foreach (var item in @Model)
        {
    <div class="col-4">
        <div class="ajaxbg d-none">
            <p class="lead alert alert-success text-center">
                Film został dodany
            </p>
        </div>


        <h5>@item.Title</h5>

        <div>
            @Html.Raw(item.Author)
        </div>

        <p align="center">
            <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-primary addToCart">Dodaj do koszyka</a>
        </p>
        <hr />
    </div>}


</div>

